* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}

/* img {
  width: 20%;
  height: 20%;
  object-fit: cover;
} */
.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  border-radius: 10px;
  padding: 40px 30px 70px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 40px;
  margin-left: 10px;
}

.row {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 20px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: green;
  color: #fff;
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  font-weight: 700;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  /* background-color: #fff;
  border: 2px solid rgba(178, 172, 172, 0.918); */
  background-image: url(images/image-uncheked.png);
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 8px;
}

ul li.checked {
  text-decoration: line-through;
  color: #555;
}
ul li.checked::before {
  background-image: url(images/images.png);
  background-size: cover;
  background-position: center;
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  height: 40px;
  width: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
}
ul li span:hover {
  background: #edeef0;
  border-radius: 50%;
}
